<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @micropost %>
<p>
  <strong>Micropost</strong><br>
  <%= @micropost.content %>
</p>

<p>
  <strong>Micropost ID:</strong>
  <%= @micropost.user_id %>
</p>
<% end %>

<% if !@micropost %>
<p>
  <strong>Didn't add any microposts yet...</strong>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
